ansi2html==1.9.1
appdirs==1.4.4
atomicwrites==1.4.0
autograd==1.6.2
autograd-gamma==0.5.0
backports.weakref==1.0.post1
blinker==1.7.0
branca==0.6.0
Brotli==1.1.0
brotlipy==0.7.0
certifi==2023.7.22
cfgv==3.4.0
click==8.1.7
colorcet==3.0.1
colorlover==0.3.0
contourpy==1.1.0
cssselect2==0.7.0
cufflinks==0.17.3
Cython==3.0.0
dash==2.14.2
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
dask==2024.1.0
datashader==0.16.0
distlib==0.3.8
distributed==2024.1.0
docopt==0.6.2
et-xmlfile==1.1.0
filelock==3.13.1
Flask==3.0.1
folium==0.14.0
fonttools==4.25.0
frozendict==2.3.10
fsspec==2023.6.0
gunicorn==21.2.0
html5lib==1.1
identify==2.5.33
importlib-resources==6.0.1
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.1.2
joblib==1.3.1
jsonpointer==2.1
llvmlite==0.41.1
locket==1.0.0
matplotlib==3.8.0
mplcursors==0.5.2
msgpack==1.0.7
multipledispatch==1.0.0
multitasking==0.0.11
munkres==1.1.4
mypy-extensions==0.4.3
networkx==3.1
nodeenv==1.8.0
numba==0.58.1
numpy==1.25.2
openpyxl==3.1.2
packaging==21.3
pandas==2.1.0
pandas-datareader==0.10.0
param==2.0.2
partd==1.4.0
peewee==3.17.0
Pillow==9.4.0
pipreqs==0.4.12
platformdirs==4.1.0
plotly==5.15.0
ply==3.11
pmdarima==2.0.3
pre-commit==2.16.0
PuLP==2.7.0
py==1.11.0
pyasn1==0.5.0
pyct==0.5.0
pydyf==0.8.0
pyls-spyder==0.4.0
Pyomo==6.4.2
pyphen==0.14.0
pyproj==3.6.1
PyQt5==5.15.7
pyqtgraph==0.13.3
PyQtWebEngine==5.15.4
pysmb==1.2.9.1
pytest==6.2.5
python-lsp-jsonrpc==1.0.0
python-pptx==0.6.23
pywin32==305.1
pyxlsb==1.0.10
PyYAML==6.0
reliability==0.8.13
requests==2.31.0
retrying==1.3.4
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
shiboken2==5.15.2.1
tblib==3.0.0
tenacity==8.2.2
termcolor==1.1.0
threadpoolctl==3.2.0
tzdata==2023.3
virtualenv==20.25.0
visdcc==0.0.50
weasyprint==60.2
webencodings==0.5.1
Werkzeug==3.0.1
wincertstore==0.2
xarray==2024.1.1
xlrd==2.0.1
xlsx2csv==0.8.1
XlsxWriter==3.1.0
yarg==0.1.9
yfinance==0.2.33
yolk3k==0.9
zict==3.0.0
zopfli==0.2.3
zstandard==0.19.0
